.button-facebook{
  background-color: #0084FF;
}
.button-facebook svg{
  fill: white;
  width: 20px;
}
.button-facebook:hover, .button-facebook:focus{
  background-color: #299ae5;
  color: #fefefe;
}
.button:hover, .button:focus{
  background-color: #F8CD58;
  color: #fefefe;
}
