.padding{
  padding: 20px 0px;
}
.yellow-section{
  background-color: #F8CD58;
}
.section.light{
  background-color: #ffffff;
}
.section{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.padding-bottom{
  padding-bottom: 20px;
}
.brewdog-background{
  background-image: url("../img/brewdog_background.jpg");
  background-position: center;
  background-size: cover;
}
.image-overlay{
  @include breakpoint(medium) {
    min-height: 100vh;
  }
}
.center-padding{
  padding: 17em;
}
