.padding{
  padding: 20px 0px;
}
.yellow-section{
  background-color: #F8CD58;
}
.section.light{
  background-color: #ffffff;
}
.section{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.big-txt{
  font-size: 25px;
  font-weight: bold;
}
.padding-bottom{
  padding-bottom: 20px;
}
