.img-container{
  background-image: url('../img/brewdog_header.jpg');
  background-position: center;
  background-size: cover;
  height: 540px;
  color: #fff;
  padding-top: 150px;
}
.header-link{
  width: 50px;
}
