<section class="img-container">
  <div class="row column align-center">
    <h1>A new beer everyday</h1>
      <a href="https://m.me/homesign" class="button button-facebook large" target="_blank">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.582 0 0 3.316 0 7.407c0 2.332 1.163 4.41 2.98 5.77V16l2.725-1.495c.727.2 1.497.31 2.295.31 4.418 0 8-3.317 8-7.408C16 3.317 12.418 0 8 0zm.795 9.975L6.758 7.802 2.783 9.975l4.372-4.642 2.087 2.173 3.926-2.173-4.373 4.642z" fill-rule="nonzero"></path></svg>
      Get in touch with our team</a>
    <p class="small-12 medium-4">The world has a lot to offer, and among all of these things there's beer. We are happy to share with you this new way to discover new beers to taste everyday. Come meet our awesome team and travel the world with its beers.</p>
  </div>
</section>
<!-- <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit="59m2ys-orbit">
  <ul class="orbit-container" tabindex="0" style="height: 540px;">
    <li class="orbit-slide is-active slide-in-right mui-enter mui-enter-active" data-slide="0" style="max-height: 540px; display: list-item; position: absolute; top: 0px;"  >
      <a href="#" class="button big-txt-overlay">Beers Hunter</a>
      <img src="assets/img/brewery.jpg">
    </li>
  </ul>
</div> -->
