<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <li class="menu-text"><img src="assets/img/logo.png" class="header-logo" alt="logo"></li>
      <li><a href="#" class="white-menu">Today</a></li>
      <li><a href="#" class="white-menu">Classics</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
